/* General styles */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header styles */

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav li {
  margin: 0 10px;
  display: inline;
}

nav li a:hover {
  color: #1c7bb9;
  transition: 0.5s;
}
nav li.active a {
  color: #1c7bb9;
  border-bottom: 2px solid #1c7bb9;
}

/* Hero section styles */

.hero {
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  padding: 50px;
  text-align: center;
  width: 100%;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.button {
  background-color: #1c7bb9;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
}
.button:hover {
  background-color: #0062cc;
  transition: 0.3s;
}

/* Features section styles */

.features {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  flex-basis: calc(33.33% - 20px);
  text-align: center;
}

.feature img {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 20px;
  width: 200px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 18px;
  line-height: 1.5;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}

#map {
  height: 300px;
  width: 50%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.footer-info {
  text-align: center;
  font-size: 14px;
}

.footer-info span {
  color: #888;
}

.footer-social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 0;
  padding: 0;
}

.footer-social-icons li {
  margin: 0 10px;
}

.footer-social-icons li {
  margin: 0 10px;
}

.footer-social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.footer-social-icons a i {
  font-size: 18px;
}

.footer-social-icons a:hover {
  background-color: #0069d9;
}

.footer-credits {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
}
.text-container {
  /* background-image: url('your-blurred-image.jpg'); Replace 'your-blurred-image.jpg' with the path to your blurred background image */
  background-size: 100%; /* Adjust to fit the container size */
  backdrop-filter: blur(1px); /* Apply the blur effect (adjust '10px' to control the blur intensity) */
  /* padding: 20px; Add padding to make text readable */
  color: white; /* Adjust text color for visibility */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


